{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Profile</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style/style-base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style/style-profile.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style/style-profile-v2.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style/style-auth.css' %}"/>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://unpkg.com/gijgo@1.9.14/js/messages/messages.ru-ru.js" type="text/javascript"></script>
</head>

<body>


<div id="alerts"></div>

<!-- лого -->
<a href="http://127.0.0.1:8000/" class="navbar-brand logo-name-auth text-b-line mt-5"><b>TellYou</b></a>
<br><br><br>
<div class="container mt-5 ">
    <br>

    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %} -->


    <form method="post" enctype="multipart/form-data" id="create_profile">
        {% csrf_token %}
        <!-- 1 div -->
        <div id="div1">
            <div id="nameFields" class="">
                <h2 class="h2-create mt-2">Создание профиля</h2>
                <h5><i class="mt-3">Для начала нам нужно познакомиться. Как к вам можно обращаться?</i></h5>
                <br>
                <label for="lastName" class="mb-3">Ваше фамилия:</label>
                <input id="lastName" type="text" name="last_name" maxlength="100"
                       value="" placeholder="Фамилия"
                       class="form-control create-all-input px-3" oninput="updateFullName()">
                <br>
                <label for="firstName" class="mb-3">Ваше имя:</label>
                <input id="firstName" type="text" name="first_name" maxlength="100"
                       value="" placeholder="Имя"
                       class="form-control create-all-input px-3" oninput="updateFullName()">
                <br>
                <label for="middleName" class="mb-3">Ваше отчество:</label>
                <input id="middleName" type="text" name="middle_name" maxlength="100"
                       value="" placeholder="Отчество"
                       class="form-control create-all-input px-3" oninput="updateFullName()">
                <div style="display:none;">
                    <label for="full_name">Full Name:</label><br>
                    <input id="full_name" type="text" name="full_name" maxlength="300" readonly>
                </div>
            </div>


            <div class="d-none d-md-block col-md-6 align-self-center img-create">
                <img src="{% static 'image/profile/sol.png' %}" alt="Изображение" class="img-fluid">
            </div>
        </div>


        <!-- 2 div -->
        <div class="d-none" id="div2">

            <h2 class="h2-create mt-2">Создание профиля</h2>
            <h5 style="width: 50rem;"><i class="mt-3">Отлично! Приятно познакомиться.
                А теперь, если не возражаете, не могли бы загрузить Ваше фото и ввести неуоторые данные.</i></h5>

            <div class="mb-3">
                <br>
                <img id="avatarPreview1" src="{% static 'image/default_avatar.jpg' %}" alt="Avatar Preview"
                     class="avatar-preview img-thumbnail avatar-pre-img" style="width: 128px; height: 128px;">
                <span>128px</span>

                <img id="avatarPreview2" src="{% static 'image/default_avatar.jpg' %}" alt="Avatar Preview"
                     class="avatar-preview img-thumbnail avatar-pre-img2" style="width: 96px; height: 96px;">
                <span>96px</span>

                <img id="avatarPreview3" src="{% static 'image/default_avatar.jpg' %}" alt="Avatar Preview"
                     class="avatar-preview img-thumbnail avatar-pre-img3" style="width: 64px; height: 64px;">
                <span>64px</span>

                <input id="avatar" type="file" name="avatar" onchange="previewAvatar()"
                       class="form-control mt-5 i-size2">
            </div>


            <div class="mb-3">
                <label for="sex" class="form-label mb-3">Пол:</label>
                <select id="sex" name="sex" class="form-select create-all-input px-3">
                    <option></option>
                    <option value="M">Мужчина</option>
                    <option value="F">Женщина</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="birth_date" class="form-label">День рождения:</label>
                <input id="birth_date" type="text" name="birth_date"
                       class="form-control create-all-input px-3 i-size">
            </div>

            <div class="d-none d-md-block col-md-6 align-self-center img-create">
                <img src="{% static 'image/profile/za.png' %}" alt="Изображение" class="img-fluid">
            </div>
        </div>

        <!-- div3 -->
        <div class="d-none" id="div3">
            <h2 class="h2-create mt-2">Создание профиля</h2>
            <h5 style="width: 50rem;"><i class="mt-3">Хорошо, а теперь не могли бы рассказать что-то о себе?</i></h5>
            <br>
            <div class="mb-3">
                <label for="bio" class="form-label mb-3">О себе:</label>
                <textarea id="bio" name="bio" rows="3" class="form-control bio-adap-create"></textarea>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label mb-3">Страна:</label>
                <select id="country" name="country" class="form-select create-all-input px-3">
                    <option value="">Выбор страны</option>
                    {% for country in form.country.field.queryset %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="city_div" class="mb-3">
                <label for="city" class="form-label mb-3">Город:</label>
                <select id="city" name="city" class="form-select create-all-input px-3">
                    <option value="">Выбрать город</option>
                </select>
            </div>

            <div class="d-none d-md-block col-md-6 align-self-center img-create">
                <img src="{% static 'image/profile/kot.png' %}" alt="Изображение" class="img-fluid">
            </div>
            <br>
            <button id="otpravka-forms" class="btn btn-success">Отправить всё</button>
        </div>
    </form>
    <br>


    <!-- код О УСПЕШНОГО СОЗДАНИЯ ПРОФИЛЯ (там такой котик в воде)(фигме это если че есть) -->

    <!-- ТУТ СДЕЛАЙ ТАК       ПОСЛЕ НАЖАТИЕ КНОПКИ "ОТПРАВИТЬ ВСЕ" ОТПРАВЛЯЛО НА ЭТУ СТРАНИЦУ👇 КОД ниже -->
    <!-- <div class="d-none" id="div4">
  <h2 class="h2-create mt-2">Создание профиля</h2>
  <h5 style="width: 50rem;"><i class="mt-3">Замечательно! Создание профиля завершено.
     Вы можете уже сейчас загрузить свою работу или посмотреть работы других дизайнеров.</i></h5>
  <br>

  <button  class="btn btn-primary">Загрузить работу</button>

  <button  class="btn btn-outline-dark">Посмотреть работу другихУ</button>

  <div class="d-none d-md-block col-md-6 align-self-center img-create">
    <img src="{% static 'image/profile/kot2.png' %}" alt="Изображение" class="img-fluid">
  </div>
</div> -->


    <br>
    <div class="btn-group" role="group" aria-label="Basic example" id="buttonGroup">
        <button type="button" class="btn btn-secondary" onclick="changeForm(1)">Далее</button>
    </div>

    <script>
        var currentForm = 1;
        var totalForms = 3;

        function changeForm(direction) {
            if (direction === 1 && currentForm < totalForms) {
                document.getElementById("div" + currentForm).classList.add("d-none");
                currentForm++;
                document.getElementById("div" + currentForm).classList.remove("d-none");
            } else if (direction === -1 && currentForm > 1) {
                document.getElementById("div" + currentForm).classList.add("d-none");
                currentForm--;
                document.getElementById("div" + currentForm).classList.remove("d-none");
            }
            updateButtons();
        }

        function updateButtons() {
            var buttonGroup = document.getElementById("buttonGroup");
            buttonGroup.innerHTML = "";

            if (currentForm > 1) {
                var backButton = document.createElement("button");
                backButton.setAttribute("type", "button");
                backButton.setAttribute("class", "btn btn-secondary");
                backButton.setAttribute("onclick", "changeForm(-1)");
                backButton.innerText = "Назад";
                buttonGroup.appendChild(backButton);
            }

            if (currentForm < totalForms) {
                var nextButton = document.createElement("button");
                nextButton.setAttribute("type", "button");
                nextButton.setAttribute("class", "btn btn-secondary");
                nextButton.setAttribute("onclick", "changeForm(1)");
                nextButton.innerText = "Далее";
                buttonGroup.appendChild(nextButton);
            }
        }
    </script>


</div>
<!-- Include Bootstrap Datepicker CSS -->

<!-- Your custom JavaScript files -->
<script src="{% static 'js/get_cities_country.js' %}"></script>
<script src="{% static 'js/make_full_name.js' %}"></script>
<script src="{% static 'js/previewAvatarsCreateProfile.js' %}"></script>
<script src="{% static 'js/form_validation.js' %}"></script>
{#<script src="{% static 'js/slide-div.js' %}"></script>#}
<script>
    $(document).ready(function () {
        $('#birth_date').datepicker({
            uiLibrary: 'bootstrap5',
            locale: 'ru-ru',
            format: 'mm/dd/yyyy',
            maxDate: new Date()
        });
    })
</script>


</body>
</html>