{% extends 'base.html' %}
{% load static %}
{% load main_tags %}
{% block content %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://unpkg.com/gijgo@1.9.14/js/messages/messages.ru-ru.js" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'css/style/style-profile.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style/style-base.css' %}"/>


    <!--                                    тело                  -->



    <div class="container-fluid mt-5 ">
        <div class="row ms-custom-edit">
            <div class="col-md-3">
                <div class="d-grid gap-2 mt-5" style="max-width: 200px;">
                    <button onclick="showSection('basic_info')" class="btn btn-outline-primary">Основное</button>
                    <button onclick="showSection('avatar')" class="btn btn-outline-primary">Аватар</button>
                    <button onclick="showSection('about_me')" class="btn btn-outline-primary">О себе</button>
                    <button onclick="showSection('change_password')" class="btn btn-outline-primary">Изменить пароль
                    </button>

                    <a class="mt-2 abtn" style="" href="http://127.0.0.1:8000/">На главную</a>
                </div>
            </div>

            <!-- фото -->


            <div class="col-md-8 "><br><br>
                <!-- форма -->
                <div class="svdig-forms">
                    <form name="profileForm" method="post" enctype="multipart/form-data" class="">
                        {% csrf_token %}
                        <div id="basic_info_section" style="display: none;">
                            <div id="nameFields">
                                <br>
                                <label for="lastName">Настоящее Имя:</label>
                                <input id="lastName" type="text" name="last_name" maxlength="100"
                                       value="{{ form.instance.full_name | get_name }}"
                                       class="form-control edit-all-input mt-2" oninput="updateFullName()">

                                <br>

                                <label for="firstName">Настоящая Фамилия:</label>
                                <input id="firstName" type="text" name="first_name" maxlength="100"
                                       value="{{ form.instance.full_name | get_name2 }}"
                                       class="form-control edit-all-input mt-2" oninput="updateFullName()">
                                <br>

                                <label for="middleName">Настоящее Отчество:</label>
                                <input id="middleName" type="text" name="middle_name" maxlength="100"
                                       value="{{ form.instance.full_name | get_middle_name }}"
                                       class="form-control edit-all-input mt-2" oninput="updateFullName()">
                            </div>
                            <div style="display:none;">
                                <label for="full_name">Полное имя:</label><br>
                                <input id="full_name" type="text" name="full_name" maxlength="300"
                                       class="edit-all-input mt-2" value="{{ form.instance.full_name }}">
                            </div>

                            <div class="mb-3">
                                <label for="sex" class="form-label">Пол:</label>
                                <select id="sex" name="sex" class="form-select edit-all-input">
                                    <option value="M" {% if form.instance.sex == 'M' %} selected {% endif %}>Male
                                    </option>
                                    <option value="F" {% if form.instance.sex == 'F' %} selected {% endif %}>Female
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="country" class="form-label">Страна:</label>
                                <select id="country" name="country" class="form-select edit-all-input">
                                    {% for country in form.country.field.queryset %}
                                        <option value="{{ country.id }}" {% if country.id == form.instance.country.id %}
                                                selected {% endif %}>{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <div id="city_div" class="mb-3">
                                    <label for="city" class="form-label">Город:</label>
                                    <select id="city" name="city" class="form-select edit-all-input">
                                        <option value="{{ form.instance.city.id }}">{{ form.instance.city.name }}</option>
                                        <option value="">Select City</option>

                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 birth_date-size">
                                <label for="birth_date" class="form-label ">Дата рождения:</label>
                                <input id="birth_date" type="text" name="birth_date"
                                       value="{{ form.instance.birth_date|date:"d/m/Y" }}"
                                       class="edit-all-input form-control ">

                                <div class="d-none d-md-block col-md-6 align-self-center img-avatar-osnova">
                                    <img src="{% static 'image/profile/lev.jpg' %}" alt="Изображение" class="img-fluid">
                                </div>
                            </div>


                        </div>
                        <br>
                        <div id="avatar_section" style="display: none;">
                            <div class="row">
                                <div class="mb-3">
                                    <br>
                                    <img id="avatarPreview1" src="{% static 'image/default_avatar.jpg' %}"
                                         alt="Avatar Preview"
                                         class="avatar-preview img-thumbnail avatar-pre-img"
                                         style="width: 128px; height: 128px;">
                                    <span>128px</span>

                                    <img id="avatarPreview2" src="{% static 'image/default_avatar.jpg' %}"
                                         alt="Avatar Preview"
                                         class="avatar-preview img-thumbnail avatar-pre-img2"
                                         style="width: 96px; height: 96px;">
                                    <span>96px</span>

                                    <img id="avatarPreview3" src="{% static 'image/default_avatar.jpg' %}"
                                         alt="Avatar Preview"
                                         class="avatar-preview img-thumbnail avatar-pre-img3"
                                         style="width: 64px; height: 64px;">
                                    <span>64px</span>
                                    <input id="avatar" type="file" name="avatar" onchange="previewAvatar(event)"
                                           class="form-control mt-5 i-size2" multiple>
                                </div>

                            </div>

                            <br><br><br><br><br><br><br>
                        </div>

                        <div id="about_me_section" style="display: none;">
                            <div class="mb-1 mx-auto">
                                <label for="bio" class="form-label">Bio:</label>
                                <textarea id="bio" name="bio" rows="6"
                                          class="form-control bio-adap">{{ form.instance.bio }}</textarea>
                            </div>
                            <div class="d-none d-md-block col-md-6 align-self-center img-avatar-osnova">
                                <img src="{% static 'image/profile/ma.jpg' %}" alt="Изображение" class="img-fluid">
                            </div>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        </div>

                        <div class="btn-sdvig-right d-flex justify-content-center mt-3">
                            <a href="" class="btn btn-light mx-3">Отмена</a>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                    <!-- Блок изменения пароля -->
                    <div id="change_password_section" style="display: none;">

                        <form method="post" name="changePasswordForm">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_oldpassword" class="form-label">Текущий пароль:</label>
                                <input type="password" class="form-control edit-all-input" name="oldpassword"
                                       placeholder="Текущий пароль" autocomplete="current-password" required=""
                                       id="id_oldpassword">
                            </div>
                            <div class="mb-3">
                                <label for="id_password1" class="form-label">Новый пароль:</label>
                                <input type="password" class="form-control edit-all-input" name="password1"
                                       placeholder="Новый пароль" autocomplete="new-password" required=""
                                       aria-describedby="id_password1_helptext" id="id_password1">
                                <span class="helptext" id="id_password1_helptext"></span>
                            </div>

                            <ul>
                                <li style="width: 50%;">Ваш пароль не должен быть слишком похож на другие ваши
                                    персональные данные.
                                </li>
                                <li>Ваш пароль должен содержать не менее 8 символов.</li>
                                <li>Ваш пароль не может быть обычным паролем.</li>
                                <li>Ваш пароль не может быть полностью цифровым.</li>
                            </ul>

                            <div class="mb-3">
                                <label for="id_password2" class="form-label">Новый пароль(повторить):</label>
                                <input type="password" class="form-control edit-all-input" name="password2"
                                       placeholder="Новый пароль(повторить)" required="" id="id_password2">
                            </div>
                            <button name="change_password_button" type="submit" class="btn btn-success">Изменить
                                текущий пароль
                            </button>
                        </form>
                    </div>
                    <!-- Конец блока изменения пароля -->
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <!-- скрипт бутера меню -->
    <script>
        var currentSection = null;

        function showSection(sectionName) {
            if (currentSection !== null) {
                currentSection.style.display = 'none';
            }

            var newSection = document.getElementById(sectionName + '_section');

            newSection.style.display = 'block';
            currentSection = newSection;
        }
    </script>

    <script src="{% static 'js/get_cities_country.js' %}"></script>
    <script src="{% static 'js/make_full_name.js' %}"></script>
    <script src="{% static 'js/preview_avatar.js' %}"></script>
    <script src="{% static 'js/validation_edit_forms.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}
