{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
    .alert {
        position: fixed; /* Фиксированное положение */
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        z-index: 9999;
    }
</style>
<body>

<!-- уведомления -->
<div id="alerts"></div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Сброс пароля</div>
                <div class="card-body">
                    <!-- Форма для сброса пароля -->
                    <form name="reset_password_form" id="reset_password_form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">{{ form.email.label }}</label>
                            <input type="email" name="email" placeholder="Email address" autocomplete="email"
                                   maxlength="320" required="" id="id_email">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Сбросить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Подключение Bootstrap JS (необходимо для работы интерактивных элементов) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/checkEmailAvailability.js' %}">
</script>

</body>
</html>
